body {
  margin: 0 0 0 20px;
  padding: 0;
}

header h1::after {
  content: " ";
  display: block;
  width: 350px;
  height: 3px;
  background: brown;
  margin: 6px 0 30px 0;
}

#dados input {
  margin: 0 10px;
  width: 200px;
  height: 30px;
}

#buttonDados {
  padding: 9px 25px;
}

#buttonDados:hover {
  background-color: brown;
  color: #fff;
  border: brown solid 1px;
}

#dados span,
#dadosTotais span {
  padding-right: 15px;
}

h2 {
  margin: 25px 0;
  font-size: 20px;
}

#dadosTotais {
  margin-top: 60px;
  font-size: 18px;
}
